<!DOCTYPE html>

<!-- (c) brianjenkins94 | brianjenkins94.me | MIT licensed -->

<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">

	<!-- Title -->
	<title>LaunchCodeOAuth</title>

	<!-- Thumbnails -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/lib/baseline.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<% include ../partials/_header.ejs %>

    <!-- #main -->
    <main id="main">

	</main>

    <% include ../partials/_footer.ejs %>

	<!-- Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Inline Script -->
	<script>
		"use strict";

		$(document).ready(function() {

		});
	</script>

</body>
</html>
